body {
    background-color:rgb(238, 238, 238);
}

header,footer, nav, aside, section{
    border : 1px solid;
    margin : 5px;
    padding : 10px;
}

header {
    height : 50px; 
    background-color: gray;
}

section, aside {
    float: left;
    height : 200px;
}

section {
    background-color : red;
    width : 80%;
}

aside {
    background-color : yellow;
    width : 12.5%;
}

footer {
    height : 50px;
    background-color : blue;
    position :relative;
    clear : both;
}

article {
    width : 90%;
    margin : 20px;
    background-color : #999;
}

.button {
    background-color: blue;
    color : white;
    padding : 15px 30px;
    text-align : center;
    text-decoration: none;
    display : inline-block;
    font-size : 16px;
    margin : 4px 2px;
    cursor: pointer ;
    border : 4px solid red;
}

.button:hover {
    background-color: gray;
    color : black;
    border : 4px solid gray;
}

aside p {
    margin-bottom : 20px;
}