div {
    height : 40px;
    width : 400px;
    border : 1px solid #1b5ac2;
    background : #ffffff;
}

div.title {
    font-family: 'Poiret One', cursive;
}

input {
    font-size : 16px;
    width : 325px;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}
button {
    width : 50px;
    height : 100%;
    border : 0px;
    background : #1b5ac2;
    outline : none;
    float : right;
    color : #ffffff;
}

button:hover {
    background : red;
}