h3 {
    padding-bottom : 10px;
}

/*
header
*/

header {
    height : 50px; 
    background-color: rgb(247, 247, 247);
    position : fixed;
}

img {
    height : 100%;
}

#buttons {
    float : right;
    padding-right : 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
    
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.board {
    width : 100%;
    height : 300px;
    background-color: rgb(243, 243, 243);
}

.subboard {
    float :left;
}

/*section and aside*/

/*section*/

section, aside {
    margin : 5px;
    padding-top : 60px;
    padding-bottom : 25px;
    float: left;
}

section {
    margin-left : 290px;
    width : 729px;
    height : 100%;
    margin-top : 40px;
}

section span {
    color: #555555;
}

article {
    width : 95%;
    height : 250px;
    padding-bottom : 10px;
    margin-bottom : 10px;
    /*left, right 2배로*/
}

article:hover {
    background-color: rgb(233, 233, 233);
}

article p {
    font-family : 'KoPub Batang' !important; 
}

/*aside*/

aside {
    height : 100%;
    margin-right : 290px;
    width : 19%;
    float : right;
    margin-top : 65px;
}

aside a {
    font-weight : bold;
}

aside p {
    margin-bottom : 20px;
}

.underfeatured {
    margin-left : 15px;
}

.buttons {
    height : 40px;
    width : 95%;
    border-bottom : 2px solid #3a3a3a;
    background : #ffffff;
}

.arrow {display:inline-block; background:#000000; position:relative;}
.arrow.test_4 {width: 20px; height : 10px;}
.arrow:after {content:''; position:absolute; width:0; height:0; border-style:solid;}
.arrow.test_4:after {border-width:15px 20px;}
.arrow.test_4:after {border-color:transparent transparent transparent #000000; top:-10px; left:20px;}

input {
    width : 60%;
    padding : 10px;
    border : 0px;
    outline : none;
    float : left;
}

/*footer*/

footer, nav{
    margin : 5px;
    padding : 10px;
}

nav {
    float : right;
}

span.date {
    float : right;
}

footer {
    background-color : #05308c;
    position :relative;
    clear : both;
    padding : 10px;
    color : white;
    font-family : 'APPLE SD Gothic NEO' !important; 
    padding-top : 25px;
}

div.a{
    float : left;
    margin : 20px;
}

div.a2{
    float : right;
    margin : 20px;
    text-align : right;
}

div.b {
    clear : both;
    margin : 20px;
}

.Featured {
    display :block;
    padding-top : 30px;
    padding-bottom :50px;
    font-family : 'APPLE SD Gothic NEO'
}

.underfeatured {
    position : relative;
    display :block;
}


.button {
    padding : 15px 30px;
    text-align : center;
    text-decoration: none;
    display : inline-block;
    margin : 4px 2px;
    cursor: pointer ;
}

.button:hover {
    background-color: rgb(223, 223, 223);
}

.buttonsout {
    padding-top : 30px;
    padding-bottom : 30px;
}

button.btn1 {
    width : 40px;
    height : 100%;
    border : 0px;
    outline :none;
    float : right;
    color : #000000;
}

@media (max-width: 850px) {
    section {
        float : none;
        width : auto;
    }
    aside {
        float :none;
        width: auto;
    }
}

.total {
	display : block; 
    position : relative;
    left : 95%;
	width: 20px;
	height : 20px;
    text-decoration : none;
}

.total span {
	display : block;
	position : relative;
	width : 100%;
	height : 3px;
	background : black; 
	color : transparent;
	text-decoration :none;
	transition : all 0.5s;
}

.total span:before, .total span:after {
	content: "";
	position : absolute;
	left : 0;
	top : 0;
	width : 100%;
	height : 3px;
	background : black;
	transition : all 0.5s;
}

.total span:before{
	top : -6px;
}

.total span:after{
	top : 6px;
}

.total.on span {
	background: none;
}

.total.on span:before {
	top :0px;
	transform : rotate(45deg);
}

.total.on span:after {
	top :0px;
	transform : rotate(-45deg);
}

a {
    text-decoration: none;
    color : black;
    font-family : 'Arial Bold';
}

a:hover {
    color : #05308c;
}

a:active {
    color : #95d913;
}

.inarticle {
    font-family : 'APPLE SD Gothic NEO' !important; 
}

.infooter {
    padding-bottom : 7.5px;
    color : white;
}

.dropbtn{
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-right: 20%;
    font-family : 'Arial Bold';
  }

.dropdown-content a:hover {background-color: rgb(182, 59, 59);}

.dropdown:hover .dropdown-content {display: block;}
