@charset "utf-8";
	.st11
{
	font-family : Ruda;
	font-size : 30px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st20
{
	font-family : a뉴굴림2;
	font-size : 300px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st13
{
	font-family : Adobe 명조 Std;
	font-size : 18px;
	line-height : 28px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st12
{
	font-family : Adobe 명조 Std;
	font-size : 18px;
	line-height : 28px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st15
{
	font-family : Adobe 명조 Std;
	font-size : 18px;
	line-height : 28px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st22
{
	font-family : a뉴굴림2;
	font-size : 300px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
}
.st7
{
	font-family : IBM Plex Sans;
	font-size : 20px;
	line-height : 28px;
	letter-spacing : 0.2px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st6
{
	font-family : Ruda;
	font-size : 37px;
	line-height : 55.85px;
	letter-spacing : 0.37px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st5
{
	font-family : Ruda;
	font-size : 35px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st19
{
	font-family : Ruda;
	font-size : 30px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st16
{
	font-family : IBM Plex Sans;
	font-size : 18px;
	line-height : 28px;
	letter-spacing : 0.18px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st14
{
	font-family : Adobe 명조 Std;
	font-size : 18px;
	line-height : 28px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st18
{
	font-family : Ruda;
	font-size : 30px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st4
{
	font-family : IBM Plex Sans;
	font-size : 18px;
	line-height : 28px;
	letter-spacing : 0.18px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st24
{
	font-family : a뉴굴림2;
	font-size : 300px;
	color : #062D72;
	color : rgb(6, 45, 114);
}
.st17
{
	font-family : IBM Plex Sans;
	font-size : 18px;
	line-height : 28px;
	letter-spacing : 0.18px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st
{
	font-family : Ruda;
	font-size : 35px;
	color : #000000;
	color : rgb(0, 0, 0);
}
